* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.map-container {
  width: 100%;
  height: 400px;
}

.capture-button {
  padding: 15px 30px;
  background-color: #514b9c;
  color: white;
  font-size: large;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 600;
}

.capture-button:hover {
  background-color: rgb(33, 33, 200);
}

.captured-images {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  flex-wrap: wrap;
  cursor: pointer;
}

.captured-images img {
  width: 180px;
  height: auto;
}

.image-actions {
  width: 180px;
  display: flex;
  justify-content: space-between;
  bottom: 15px;
}

.image-actions button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.image-actions button:hover {
  background-color: #009cf9;
}

.canvas-container {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #56569d, #514b9c, #2a2275);

  border-radius: 10px;
  height: 200px;
}

.canvas-container:focus {
  outline: none;
}

.cuboid {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 27%;
  left: 60px;
}

/* Styles for mobile devices */
@media (max-width: 480px) {
  .cuboid {
    position: absolute;
    left: 20px;
    bottom: 46%;
  }
  .canvas-container {
    height: 120px;
  }
  .capture-button {
    padding: 5px 10px;
    font-size: medium;
    font-weight: 500;
  }
  .image-actions {
    width: 160px;
  }

 

  .captured-images img {
    width: 160px;
  }
}


